.textstyle {
    font-family: 'Bree Serif', serif;
    font-size: 50px;
    font-weight: 800;
  }

  .textstyle2 {
    font-family: 'Bree Serif', serif;
    font-size: 40px;
    font-weight: 500;
  }

  .textstyle3 {
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    font-weight: 700;
  }